---
import SpaceContact from "@/components/SpaceContact";
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import social from "@/config/social.json";
import { getEntry } from "astro:content";
import type { CollectionEntry } from "astro:content";

const contact = (await getEntry(
  "contact",
  "-index"
)) as CollectionEntry<"contact">;
const { contact_form_action }: { contact_form_action: string } = config.params;
const { title, description, meta_title, image } = contact.data;

const socialLinks = social.main.map((s) => ({
  name: s.name,
  icon: s.icon,
  link: s.link,
}));
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}
>
  <section class="section-sm">
    <div class="container">
      <SpaceContact
        client:load
        formAction={contact_form_action}
        socials={socialLinks}
      />
    </div>
  </section>
</Base>
